<h1 class='center'>All Bloggers</h1>
<div class='center'>
  <% @users.each do |user| %>
    <ul class='listing'>
      <div class='row'>
        <div class='well col-md-8 col-md-offset-2'>
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class='article-title'>
            <%= link_to user.username, user_path(user) %>
          </li>
          <small><%= pluralize(user.articles.count, 'article') %></small>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate @users %>
</div>