<div class='container navbar'>
  <footer class= 'footer'>
    <small>
      CopyRight &copy; <a href="udemy.com">The Complete Ruby On Rails Developer</a>
      by <a href="https://www.facebook.com/Taman.1993">Abdelrahman Taman</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', pages_about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>